@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');
body{
    width: 100%;
    height: 100%;
    background-color: grey;
    color: white;
}
.navbar-brand{
    font-family: 'Akronim';
    font-size: 45px;
}
nav{
    font-size: 20px;
    padding:20px;
}
nav li a:hover{
    background-color: grey;
    padding: 5px;
}
nav ul li a{
    padding: 20px;
}
.mdb-lightbox{
    height: 120%;
    width: 120%;
}
.well-img{
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}
/* .welcome-text{
    text-align: center;
    padding-top: 15px;
    font-family: 'Akronim';
    font-size: 40px;
} */
