@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Akronim|Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Akronim|El+Messiri|Great+Vibes|Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Akronim|El+Messiri|Great+Vibes|Parisienne|Playball&display=swap');
body{
    width: 100%;
    height: 100%;
    background-color: grey;
    color: black;
    /* background-image: url('./images/rp\ cool.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 20px;
}
.navbar-brand{
    font-family: 'Akronim';
    font-size: 45px;
}
nav{
    font-size: 20px;
    padding:20px;
}
nav li a:hover{
    background-color: grey;
    padding: 5px;
}
nav ul li a{
    padding: 20px;
}
.mdb-lightbox{
    height: 120%;
    width: 120%;
}
#hommy{
    margin-bottom: 60%;
}
.welcome-img{
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}
.img-hover-zoom{
    overflow:hidden;
}
.img-hover-zoom img{
    transition:transform .5s ease;
}
.img-hover-zoom:hover img{
    transform: scale(1.5);
}
 .welcome-text{
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
    font-family: 'Akronim' ;
    font-family: 'Great Vibes' ;
    font-family: 'Parisienne' ;
    font-family: 'El Messiri' ;
    color: black;
 }
 .offer-btn{
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Akronim' ;
    font-family: 'Great Vibes' ;
    font-family: 'Parisienne' ;
    font-family: 'El Messiri' ;
    font-family: 'Playball' ;
    font-size: 70px;
 }
 .footer-img{
    animation: bounce 5s infinite;
    text-align: center;
 }
 .footer-text{
     text-align: center;
     font-family: 'Akronim';
     font-size: 35px;
 }
 #offers{
     align-items: center;
     margin-left: 15%;
     height: 100%;
     width: 100%;
     display: none;
     padding: 15px;
 }
 .footer-table{
     align-items: center;
     align-content: center;
     margin-left: 45%;
     border: none;
 }

                        /* about                              */

 #about{
    overflow-y: scroll;
    overflow-x: hidden;
}
.about-text{
    font-size: 30px;
    font-family: 'Akronim' ;
    font-family: 'Great Vibes' ;
    font-family: 'Parisienne' ;
    font-family: 'El Messiri';
}
.about-heading{
    color: white;
    margin-left: 30px;
}
#ab{
    margin-bottom: 29%;
}
.container{
    float: left;
    margin-top: 0%;
}
.cont{
    padding-top: 10px;
}
.italian{
    float: right;
    padding-top: 10px;
}